/* Common Page CSS File */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Primary Flexbox */

html{
  height: 100%;
}
  
body{
  height: 100%;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f3f5f9;
}

#main-content{
	display: flex;
	flex-direction: column;
  margin-left: 200px;
}

#main-content header{
  min-height: 75px;
  width: calc(100% - 200px);
	height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #4b4276;
  position: fixed;
}

#main-content #content{
	flex: 1 0 auto;
  margin-top: 10%;
}

/* Sidebar */

#sidebar{
	min-width: 200px;
	max-width: 200px;
  height: 100%;
  position: fixed;
  background: #4b4276;
  padding: 30px 0px;
}

#sidebar h2{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

#sidebar h2 a{
  color: #fff;
}

#sidebar ul li{
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

#sidebar ul li a{
  padding: 15px;
  color: #bdb8d7;
  display: block;
}

#sidebar ul li a .fas{
  width: 25px;
}

#sidebar ul li:hover{
  background-color: #594f8d;
}
    
#sidebar ul li:hover a{
  color: #fff;
}

#sidebar #social-media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding-bottom: 10px;
}

#sidebar #social-media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media (max-height: 500px){
  #social-media{
    display: none !important;
  }
}

/* Header */
#back{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: #bdb8d7;
}

#back:hover{
  color: #fff;
  background-color: #594f8d;
}

#back .fas{
  width: 25px;
}

#current-song{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  column-gap: 15px;
}

#current-song label{
  color: #bdb8d7;
}

#current-song img{
  align-items: end;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#song-info{
  display: grid;
  justify-content: left;  
  align-items: center;
  column-gap: 10px;
}

#song-info a{
  color: #bdb8d7;
}

#song-info a:hover{
  color: #fff;
}

#playlists{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	row-gap: 10px;
}

#playlists .playlist{
  min-width: 25%;
  min-height: 100px;
  text-align: center;
	background-color: burlywood;
}
