header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #4b4276;
  position: fixed;
  width: calc(100% - 200px);
}

header .back{
  justify-content: flex-start;
  padding: 30px;
}

header .back{
  color: #bdb8d7;
  display: block;
}

header .back:hover{
  color: #fff;
  background-color: #594f8d;
}

header .back .fas{
  width: 25px;
}

header .current-song{
  width: 20%;
  color: #fff;
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline-end: 20px;
}

header .current-song img{
  width: 60px;
  height: 60px;
  align-items: end;
}

header .song-info{
  display: grid;
  align-items: center;
  column-gap: 10px;
  justify-content: left;
}

header .song-info a{
  color: #bdb8d7;
}

header .song-info a:hover{
  color: #fff;
}
