#main-content header{
  min-height: 75px;
  width: calc(100% - 200px);
	height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #4b4276;
  position: fixed;
}

#main-content #content{
	flex: 1 0 auto;
  margin-top: 10%;
}

/* Header */

#back{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: #bdb8d7;
}

#back:hover{
  color: #fff;
  background-color: #594f8d;
}

#back .fas{
  width: 25px;
}

#current-song{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  column-gap: 15px;
}

#current-song label{
  color: #bdb8d7;
}

#current-song img{
  align-items: end;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#song-info{
  display: grid;
  justify-content: left;  
  align-items: center;
  column-gap: 10px;
}

#song-info a{
  color: #bdb8d7;
}

#song-info a:hover{
  color: #fff;
}

#playlists{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	row-gap: 10px;
}

#playlists .playlist{
  min-width: 25%;
  min-height: 100px;
  text-align: center;
	background-color: burlywood;
}