@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

body {
    font-family: 'Josefin Sans';
    margin: 0;
}

.button {
    font-family: 'Josefin Sans';
    background-color: #4b4276;
    border: none;
    border-radius: 12px;
    color: #f3f5f9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #594f8d
}

.button:active {
    background-color: #594f8d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.flex-container>div {
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.container>div {
    font-size: 20px;
    text-align: center;
    justify-content: space-around;
}

.row {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.row2 {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.row3 {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.row4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.item2 {
    margin: 50px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
}
