<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>FlowNation Radio</title>
  </head>
  
  <body>

    <%- include('../partials/navbar'); %>

    <!-- Content Area: place your user profile stuff into here-->
    <main id="main-content">

    </main>
  </body>
</html>