<!-- TODO: Use templates to deduplicate sidebar code -->
<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/playlist.css">
    <script src="/playlist.js"></script>
    <title>FlowNation Radio</title>
  </head>
  
  <body>
    <!-- Navigation Sidebar -->
    <%- include('../partials/navbar'); %>
    
    <main id="main-content">
      <!-- Header Topbar -->
      <header>
        <a id="back" href="#"><i class="fas fa-arrow-left"></i>Back to Playlists</a>
        <div id="current-song">
            <label>Selected Song:</label>
            <img src="/temp_music_icon.png"/>
            <div id="song-info">
                <a id="song" href="#">Song Name</a>
                <a id="artist" href="#">Artist Name</a>
            </div>
        </div>
      </header>
    
      <!-- Content Area: place your user profile stuff into here-->
      <div id="content"> 
        <div id="playlist-dj">
            <p class="image-holder"><img src="/temp_person_icon.png" alt="DJ Image"></p>
            <p>DJ #1's Playlist</p>
        </div>
        <div id="playlist-songs">
          <div class="playlist-song" style="background-color: #352e53">
            <img src="/temp_music_icon.png" alt="DJ Image" style="border: #352e53; border-style: dashed">
            <div class="info">
                <div class="info-box">
                    <p class="song-name">Song #1 Name</p>
                    <p class="artist-name">Artist #1 Name</p>
                  </div>
                  <div class="button-box">
                    <button type="button" class="play-button"><i class="fa-solid fa-play"></i> Play</button>
                    <button type="button" class="delete-button"><i class="fa-solid fa-trash"></i> Delete</button>
                    <button type="button" class="add-button"><i class="fa-solid fa-plus"></i> Add to Playlist</button>
                  </div>
            </div>
          </div>
          <div class="playlist-song" style="background-color: #352e53">
            <img src="/temp_music_icon.png" alt="DJ Image" style="border: #352e53; border-style: dashed">
            <div class="info">
                <div class="info-box">
                    <p class="song-name">Song #2 Name</p>
                    <p class="artist-name">Artist #2 Name</p>
                  </div>
                  <div class="button-box">
                    <button type="button" class="play-button"><i class="fa-solid fa-play"></i> Play</button>
                    <button type="button" class="delete-button"><i class="fa-solid fa-trash"></i> Delete</button>
                    <button type="button" class="add-button"><i class="fa-solid fa-plus"></i> Add to Playlist</button>
                  </div>
            </div>
          </div>
          <div class="playlist-song" style="background-color: #352e53">
            <img src="/temp_music_icon.png" alt="DJ Image" style="border: #352e53; border-style: dashed">
            <div class="info">
                <div class="info-box">
                    <p class="song-name">Song #3 Name</p>
                    <p class="artist-name">Artist #2 Name</p>
                  </div>
                  <div class="button-box">
                    <button type="button" class="play-button"><i class="fa-solid fa-play"></i> Play</button>
                    <button type="button" class="delete-button"><i class="fa-solid fa-trash"></i> Delete</button>
                    <button type="button" class="add-button"><i class="fa-solid fa-plus"></i> Add to Playlist</button>
                  </div>
            </div>
          </div>
          <div class="playlist-song" style="background-color: #352e53">
            <img src="/temp_music_icon.png" alt="DJ Image" style="border: #352e53; border-style: dashed">
            <div class="info">
                <div class="info-box">
                    <p class="song-name">Song #4 Name</p>
                    <p class="artist-name">Artist #3 Name</p>
                  </div>
                  <div class="button-box">
                    <button type="button" class="play-button"><i class="fa-solid fa-play"></i> Play</button>
                    <button type="button" class="delete-button"><i class="fa-solid fa-trash"></i> Delete</button>
                    <button type="button" class="add-button"><i class="fa-solid fa-plus"></i> Add to Playlist</button>
                  </div>
            </div>
          </div>
          <div class="playlist-song" style="background-color: #352e53">
            <img src="/temp_music_icon.png" alt="DJ Image" style="border: #352e53; border-style: dashed">
            <div class="info">
                <div class="info-box">
                    <p class="song-name">Song #5 Name</p>
                    <p class="artist-name">Artist #4 Name</p>
                  </div>
                  <div class="button-box">
                    <button type="button" class="play-button"><i class="fa-solid fa-play"></i> Play</button>
                    <button type="button" class="delete-button"><i class="fa-solid fa-trash"></i> Delete</button>
                    <button type="button" class="add-button"><i class="fa-solid fa-plus"></i> Add to Playlist</button>
                  </div>
            </div>
          </div>
      </div>
    </main>
  </body>
</html>