<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/preferences.css">
    <link rel="stylesheet" href="/listener_style.css">
    <title>FlowNation Radio</title>
  </head>
  
  <body>

    <%- include('../partials/navbar'); %>

    <!-- Content Area: place your user profile stuff into here-->
    <main id="main-content">          
            
        <div id = header1>
        <h1>Suggested DJs for You</h1>
        </div>

        <div class="row">
            <img src="/music_image.png" alt="HTML5 Icon" style="width:100px;height:100px;">

            <img src="/music_image.png" alt="HTML5 Icon" style="width:100px;height:100px;">

            <img src="/music_image.png" alt="HTML5 Icon" style="width:100px;height:100px;">
        </div>

        <div class="row">
          <p> DJ Name #1</p>
          <p> DJ Name #2</p>
          <p> DJ Name #3</p>
        </div>

        <div class="row">
            <div class="column">
              <i class="fa-solid fa-plus"></i><input type="button" class="button" value="Follow">
            </div>

            <div class="column">
              <i class="fa-solid fa-plus"></i> <input type="button" class="button" value="Follow">
            </div>

            <div class="column">
              <i class="fa-solid fa-plus"></i><input type="button" class="button" value="Follow">
            </div>
        </div>

        <div class = "row2">
          <a href="/preferences"><input type="button" class="button" value="Edit Preferences"></a>
          <input type="button" class="button" value="View More">
        </div>

        <h1>Upcoming Songs</h1>

        <div class = "row4">
          <img src="/music_image.png" alt="HTML5 Icon" style="width:100px;height:100px;">
          <div class = "item2">Song #1 Name and Artist Information</div>
        </div>

        <div class="row">
          <div class="column">
            <i class="fa-solid fa-plus"></i><input type="button" class="button" value="Add to Playlist">
          </div>

          <div class="column">
            <i class="fa-regular fa-heart"></i></i> <input type="button" class="button" value="Favorite">
          </div>

          <div class="column">
            <i class="fa-regular fa-thumbs-up"></i></i><input type="button" class="button" value="Like">
          </div>
      </div>
      
      <div class = "row4">
        <img src="/music_image.png" alt="HTML5 Icon" style="width:100px;height:100px;">
        <div class = "item2">Song #2 Name and Artist Information</div>
      </div>

      <div class="row">
        <div class="column">
          <i class="fa-solid fa-plus"></i><input type="button" class="button" value="Add to Playlist">
        </div>

        <div class="column">
          <i class="fa-regular fa-heart"></i></i> <input type="button" class="button" value="Favorite">
        </div>

        <div class="column">
          <i class="fa-regular fa-thumbs-up"></i></i><input type="button" class="button" value="Like">
        </div>
    </div>

    <div class = "row4">
      <img src="/music_image.png" alt="HTML5 Icon" style="width:100px;height:100px;">
      <div class = "item2">Song #3 Name and Artist Information</div>
    </div>

    <div class="row">
      <div class="column">
        <i class="fa-solid fa-plus"></i><input type="button" class="button" value="Add to Playlist">
      </div>

      <div class="column">
        <i class="fa-regular fa-heart"></i></i> <input type="button" class="button" value="Favorite">
      </div>

      <div class="column">
        <i class="fa-regular fa-thumbs-up"></i></i><input type="button" class="button" value="Like">
      </div>
  </div>

    <div class = "row2">
      <a href="/preferences"><input type="button" class="button" value="Edit Preferences"></a>

      <input type="button" class="button" value="View More">
    </div>
    

    </main>
  </body>
</html>
