<!doctype html>
<html lang="en">

<head>

  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/preferences.css">
  <link rel="stylesheet" href="/listener_style.css">

  <style>
    .grid-container {
      display: grid;
      gap: 10px 50px;
      grid-template-columns: auto auto auto;
      padding: 10px;
    }

    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
  </style>

  <script src="/userPreferences.js"> </script>

  <title>FlowNation Radio</title>
</head>

<body>

  <%- include('../partials/navbar'); %>

  <!-- Content Area: place your user profile stuff into here-->
  <main id="main-content">
    <p style="font-size: 20px;">What's your favorite genre(s) of music?</p>

    <div class="grid-container">

      <button id="genreBtn0" type="button" class="button" value="Pop" onclick="genreFunc(this)">Pop</button>
      <button id="genreBtn1" type="button" class="button" value="Electronic" onclick="genreFunc(this)">Electronic</button>
      <button id="genreBtn2" type="button" class="button" value="Heavy Metal" onclick="genreFunc(this)">Heavy Metal</button>
      <button id="genreBtn3" type="button" class="button" value="Hip Hop" onclick="genreFunc(this)">Hip Hop</button>
      <button id="genreBtn4" type="button" class="button" value="Popular" onclick="genreFunc(this)">Popular</button>
      <button id="genreBtn5" type="button" class="button" value="Jazz" onclick="genreFunc(this)">Jazz</button>
      <button id="genreBtn6" type="button" class="button" value="Rock" onclick="genreFunc(this)">Rock</button>
      <button id="genreBtn7" type="button" class="button" value="Classical" onclick="genreFunc(this)">Classical</button>
      <button id="genreBtn8" type="button" class="button" value="Blues" onclick="genreFunc(this)">Blues</button>
      <button id="genreBtn9" type="button" class="button" value="Folk" onclick="genreFunc(this)">Folk</button>
      <button id="genreBtn10" type="button" class="button" value="Soul" onclick="genreFunc(this)">Soul</button>
      <button id="genreBtn11" type="button" class="button" value="Vocal" onclick="genreFunc(this)">Vocal</button>
      <button id="genreBtn12" type="button" class="button" value="Instrumental" onclick="genreFunc(this)">Instrumental</button>
      <button id="genreBtn13" type="button" class="button" value="Opera" onclick="genreFunc(this)">Opera</button>
      <button id="genreBtn14" type="button" class="button" value="Soundtrack" onclick="genreFunc(this)">Soundtrack</button>
    </div>

    <p style="font-size: 20px;">Who are your favorite DJ artists?</p>

    <div class="grid-container">

      <button id="artistFunc0" type="button" class="button" value="Martin Garrix" onclick="artistFunc(this)">Martin Garrix</button>
      <button id="artistFunc1" type="button" class="button" value="Marshmello" onclick="artistFunc(this)">Marshmello</button>
      <button id="artistFunc2" type="button" class="button" value="Alan Walker" onclick="artistFunc(this)">Alan Walker</button>
      <button id="artistFunc3" type="button" class="button" value="Alesso" onclick="artistFunc(this)">Alesso</button>
      <button id="artistFunc4" type="button" class="button" value="The Chainsmokers" onclick="artistFunc(this)">The Chainsmokers</button>
      <button id="artistFunc5" type="button" class="button" value="Carl Cox" onclick="artistFunc(this)">Carl Cox</button>
      <button id="artistFunc6" type="button" class="button" value="Skrillex" onclick="artistFunc(this)">Skrillex</button>
      <button id="artistFunc7" type="button" class="button" value="Oliver Heldens" onclick="artistFunc(this)">Oliver Heldens</button>
      <button id="artistFunc8" type="button" class="button" value="Zedd" onclick="artistFunc(this)">Zedd</button>
      <button id="artistFunc9" type="button" class="button" value="R3HAB" onclick="artistFunc(this)">R3HAB</button>
      <button id="artistFunc10" type="button" class="button" value="DJ Snake" onclick="artistFunc(this)">DJ Snake</button>
      <button id="artistFunc11" type="button" class="button" value="Calvin Harris" onclick="artistFunc(this)">Calvin Harris</button>
    </div>

    <div class="row5">

      <a href="/suggestions"><button id="nextBtn" class="button">Next</button></a>

    </div>

    <p style="font-size: 20px;">Don't see a genre or DJ artist listed above? You can send us your suggestions below.</p>

    <form name = "suggestionForm" method = "post" action="/" onsubmit="return SuggestionForm()">
    <label>Genre or DJ Artist: </label>
    <input type = "text" name ="genre_or_DJ" required><br>
    <button class="button" type="submit" value= "Submit"> Submit </button>
    </form>
    
  </main>
</body>
</html>
